addict==2.4.0

numpy==1.26.4
pytorch-lightning==2.4.0
pytorch-toolbelt==0.6.3
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
torch==2.4.0
torchaudio==2.4.0
torchmetrics==1.4.1
torchvision==0.19.0
tqdm==4.66.5
transformers==4.47.1
nystrom_attention
pandas
h5py